YMCA_API_BASE_URL=
YMCA_API_TOKEN=
PORT=5050
YMCA_PORTAL_URL=https://ymcacalgary.my.site.com/#/app/program/list/DIV-007/
YMCA_USERNAME=
YMCA_PASSWORD=
YMCA_TARGET_PROGRAM=Zumba
YMCA_TARGET_CLASS_ID=270336
YMCA_TARGET_DAY=Thu
YMCA_TARGET_TIME=6:00 PM - 7:00 PM
YMCA_DRY_RUN=1
